* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  a {
    color: #232323;
    text-decoration: none;
  }
  main {
    width: 80%;
    margin: 0 auto;
  }
  // choose a subject paragraph
  .subject--choice {
    font-size: 1.6rem;
    text-align: center;
    margin-block: 2rem;
    color: #373f51;
  }
  // subjects grid
  .subjects__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    justify-items: center;
    row-gap: 0.6rem;
    max-width: 18rem;
    // subject article
    a {
      display: inline-block;
      background-color: #caf0f8;
      height: 5.6rem;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #010101;
      border-radius: 7px;
      article {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      // subject icon
      .subject--icon {
        font-size: 1.2rem;
      }
      // subject name
      p {
        font-size: 0.9rem;
      }
    }
  }
  // score board
  .score-board--container {
    .result {
      color: #274fab;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      margin-top: 2rem;
      text-align: center;
      .chart--container {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
        canvas {
          width: 13rem;
          height: 13rem;
        }
      }
      a {
        color: #970707;
        margin-left: 0.2rem;
        text-decoration: underline;
      }
    }
    .clickables {
      font-size: 1rem;
    }
    #score {
      margin-bottom: 1rem;
    }
    .score--summary {
      display: flex;
      justify-content: space-around;
      text-align: left !important;
      margin-bottom: 1rem;
    }
    .correction {
      margin-top: 1rem;
      text-align: left !important;
    }
    .home {
      margin-top: 2.5rem;
      #back-to-home {
        margin-left: 0.1rem;
        transition: margin-left 200ms;
      }
      a {
        color: #970707;
        display: inline-block;
      }
    }
  }
}
